
::-webkit-scrollbar-button {

    background-repeat: no-repeat;
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #5181b8;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #56999f;
}

::-webkit-resizer {

    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar {
    width: 4px;
}


.chat {
    display: flex;
    flex-direction: row;
    width: 795px;
    justify-content: space-between;
    margin-top: 15px;
    height: 400px;
}




