.profile {
    display: flex;
    flex-direction: row;
    width: 795px;
    justify-content: space-between;
    margin-top: 15px;
}

.narrow {
    position: relative;
    width: 230px;
}

.avatar {
    background-color: #ffffff;
    padding: 15px 15px 6px 15px;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d3d9de,0 0 0 1px #e7e8ec;
}

.avatar img {
    width: 200px;
    border-radius: 2px;
    aspect-ratio: auto 200 / 200;
    height: 200px;
}

.right {
    float: right;
    position: relative;
    width: 550px;
}

.info {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 15px 20px;
    width: 100%;
    box-shadow: 0 1px 0 0 #d3d9de,0 0 0 1px #e7e8ec;
}

.name {
    border-bottom: 1px solid #dce1e6;
    padding: 0 0 15px;
}

.desc {
    padding-top: 10px;
}

.row {
    font-size: 13px;
    line-height: 150%;
    padding-top: 5px;
    display: flex;
}

.title {
    width: 165px;
    color: #828282;
}
