.posts__form {
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 15px 20px;
    box-shadow: 0 1px 0 0 #d3d9de, 0 0 0 1px #e7e8ec;
}

.postfield {
    margin-top: 15px;
    min-height: 80px;
    max-height: 300px;
    width: 100%;
    resize: none;
    overflow: auto;
    border: 1px solid #5181b8;
    border-radius: 4px;
}

.postfield:focus {
    outline: none;
}


.post__text {
    resize: none;
    overflow: auto;
}

.btn__wrapper {
    padding: 13px 20px 12px;
    display: flex;
    justify-content: flex-end;
}

.btn {
    margin: 0;
    cursor: pointer;
    text-align: center;
    background: 0 0;
    background-color: #5181b8;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    padding: 7px 16px 8px;
    font-size: 12.5px;
    opacity: .88;
    text-decoration: none;
}

.btn:focus {
    outline: none;
}

.btn:active {
    background-color: #4a76a8;
    padding-top: 8px;
    padding-bottom: 7px;
}

.btn:hover {
    opacity: 0.8;
    text-decoration: none;
}